@import "./style/reset.css";

.aviso {
  background-color: #00738c;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 18px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
  max-width: 1490px;
  margin-left: auto;
  margin-right: auto;
}

.header-nav {
  display: flex;
  gap: 60px;
}

.header-nav a {
  padding: 16px 0px;
  display: inline-block;
  font-size: 18px;
}

.header-cadastro a {
  padding: 16px 0px;
  display: inline-block;
}

.header-cadastro {
  display: flex;
  gap: 60px;
}

.btn {
  background: linear-gradient(0deg, #00abe4 0%, #0bb8d6 89%);
  border: none;
  color: black;
  padding: 10px 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}

.header-nav,
.header-cadastro {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #000000;
}
