@import "./style/reset.css";

.aviso {
  background-color: #00738c;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 75px;
  padding-right: 75px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  height: 108px;
  position: relative;
}

.header-logo {
  display: inline-block;
}

.logo {
  margin-top: 9px;
}

.header-links {
  display: flex;
  gap: 60px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.header-links a {
  display: inline-block;
  font-size: 18px;
  position: relative;
}

.header-links a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0%;
  background-color: #000000;
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}

.header a:hover::after {
  width: 100%;
}

.header-cadastro {
  display: flex;
  gap: 60px;
}

.header-cadastro > a {
  padding: 16px 10px;
  display: inline-block;
  border-radius: 5px;
}
.header-cadastro > a:hover {
  background-color: #f7f7f7;
}

.btn-1 {
  border: none;
  padding: 0px 32px;
  background: linear-gradient(0deg, #00abe4 0%, #0bb8d6 89%);
  border-radius: 5px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #001f26;
  height: 50px;
  line-height: 50px;
  margin-top: 4px;
  cursor: pointer;
}

.btn {
  border: none;
  padding: 10px 32px;
  background: linear-gradient(0deg, #00abe4 0%, #0bb8d6 89%);
  border-radius: 5px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #001f26;
  cursor: pointer;
}

.btn:hover,
.btn-1:hover {
  background: linear-gradient(0deg, #00a3d9 17.5%, #0bafcc 89%);
}

.header,
.header-cadastro {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}

.container {
  background-image: url(/img/fotos/livro-fundo.jpg);
  background-repeat: no-repeat;
  justify-content: space-between;
  align-items: center;
  padding-top: 120px;
  padding-left: 200px;
  padding-bottom: 106px;
}

.beneficios h1 {
  font-size: 48px;
  font-family: "Crimson Pro";
  color: #001f26;
  margin-bottom: 30px;
  font-weight: 400;
  line-height: 53px;
}

.beneficios ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;
}

.beneficios ul li {
  display: flex;
  align-items: center;
  margin-bottom: 7px;
  font-family: "Crimson Text";
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
}

.beneficios ul li::before {
  content: "";
  display: inline-block;
  width: 19px;
  height: 14px;
  background-image: url(/img/icones/tick.svg);
  color: #00abe4;
  margin-right: 10px;
}

.container-vantagens {
  padding: 60px 0;
}

.section-vantagens {
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
}

.section-vantagens h1 {
  font-family: "Crimson Pro", serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 1.1;
  color: #001f26;
  margin-bottom: 60px;
}

.vantagens {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.vantagem {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 1;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.vantagem h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #001f26;
  margin: 10px 0px;
}

.vantagem p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #707070;
  margin-top: auto;
}

.container-quote {
  display: flex;
  justify-content: space-between;
  padding: 0px 144px;
  margin-top: 144px;
  position: relative;
  margin-bottom: 0px;
  max-height: 100%;
}

.quote {
  display: flex;
  flex-direction: column;
  margin-top: 65px;
}

.quote-svg {
  position: relative;
  z-index: 2;
  margin-bottom: 65px;
}

.aspas {
  align-self: center;
}

.quote p {
  font-family: "Crimson Pro";
  font-weight: 400;
  font-size: 30px;
  line-height: 33px;
  color: #001f26;
  margin: 16px 0px;
}

.quote span {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #003e4d;
}

.absolute {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 284px;
  object-fit: cover;
  z-index: -1;
}

.feature-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 120px 118px 120px 75px;
}

.feature-titulo h2 {
  font-family: "Crimson Pro";
  font-weight: 400;
  font-size: 96px;
  line-height: 107px;
  color: #001f26;
}

.feature-titulo span {
  font-family: "Crimson Pro";
  font-weight: 400;
  font-size: 96px;
  line-height: 107px;
  color: #00738c;
}

.feature-item {
  display: flex;
  gap: 22px;
  border-top: 2px solid #dedede;
  padding: 28px 0;
}

.feature-lista:last-child {
  border-bottom: 2px solid #dedede;
}

.feature-item h3 {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 32px;
  line-height: 28px;
  color: #404040;
  margin-bottom: 10px;
}

.feature-item p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #707070;
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #f7f7f7;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.redes {
  display: flex;
  gap: 20px;
  align-items: center;
}

.footer p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.015em;
  color: #2e2e2e;
}

.footer a {
  color: #00378f;
}

.creditos p {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.015em;
  color: #000;
}

@media (max-width: 1230px) {
  .header-links {
    display: none;
  }
  .header-cadastro {
    gap: 30px;
  }
}

@media (max-width: 1378px) {
  .container {
    display: flex;
    justify-content: center;
    padding-left: 0px;
  }
}

@media (max-width: 730px) {
  .header {
    padding: 0 60px;
  }
}


@media (max-width: 600px) {
  
  .logo {
    height: 34px;
    width: 67px;
  }

  .header {
    padding-left: 0px;
    padding-right: 0px;
    height: 60px;
  }
  
  .header-logo {
    margin-left: 10px;
    margin-top: -12px;
  }
  
  .btn {
    padding: 5px 10px;
    font-size: 14px;
  }

  .btn-1 {
    font-size: 16px;
    padding: 0px 10px;
    margin-left: 30px;
    margin-right: 10px;
    margin-bottom: 5px;
    height: 39px;
    line-height: 39px;
    margin-top: 6px;
  }

  .header-cadastro {
    display: flex;
    gap: 2px;
  }
  .header-cadastro  a {
    padding: 8px 8px;
    align-self: center;
  }

  .container {
    background-image: none;
    background: linear-gradient(to bottom, #DADADC, #FFFFFF);
    padding-left: 0;
    display: flex;
    justify-content: center;
  }

}
